.navbar-menu
{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    height: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 1s;
}
.darkmode{
    color: hsl(0, 0%, 100%);
    background-color: hsl(209, 23%, 22%);
  }
.logo{
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 60px;
}
.logo>h1
{
    margin: 0;
    font-size: 1.5rem;
}
.dl-change{
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    display: flex;
    align-items: center;
    height: 60px;
    margin-right: 60px;
    cursor: pointer;
}
.dl-change>p{
    margin: 0;
    margin-left: 10px;
}
.ionicon{
    transform: scale(0.1);
}
@media only screen and (max-width: 600px) {
    .logo{
        margin-left: 20px;
    }
    .logo>h1
{
    font-size: 0.5rem;
}
.dl-change{
    margin-right: 20px;
}
.dl-change>p{
    margin-left: 2px;
    font-size: 0.5rem;
}
#moon{
    scale: 0.7;
}
#moonfill{
    scale: 0.7;
}
  }